body {
    background-color: #404040;
    color: #fff;
}

.card {
    border: 1px solid #262626;
    color: #fff;
}

.card-header {
    background-color: #333333;
    color: #fff;
}

.card-body {
    background-color: #404040;
    color: #fff;
}

.card-footer {
    background-color: #333333;
}

.form-control {
    color: #fff;
    background-color: #404040;
    border: 1px solid #262626;
}

.input-group-text {
    background-color: #333333;
    border: 1px solid #262626;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(#333333, #333333) !important;
    color: -internal-light-dark(black, #333333) !important;
}

.form-select {
    background: #404040;
    border: 1px solid #262626;
    color: #fff;
}

.list-group-item {
    background-color: #404040;
    color: #000;
}

td {
    color : #fff;
}

tr {
    color : #fff;
}

input[type=file]::-webkit-file-upload-button {
    color: #fff;
    background-color: #333333;
}

input[type=file] {
    background-color: #404040;
}

.form-control:focus {
    background-color: #404040;
}

.header-sub {
    color: #d9d9d9;
}