{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
	<br/>

<div class="card">
  <div class="card-header">
    Account Details
  </div>
	<div class="card-body">

		<div class="container">
			<div class="row">
			<div class="col-8">

				<strong>First Name:</strong>
				{{ user.first_name }}<br/>

				<strong>Last Name:</strong>
				{{ user.last_name }}<br/>

				<strong>Username:</strong>
				{{ user.username }}<br/>

				<strong>User Id:</strong>
				{{ user.id }}<br/>

				<strong>Email:</strong>
				{{ user.email }}<br/>

				<strong>Date Joined:</strong>
				{{ user.date_joined }}<br/>

				<strong>Verified:</strong>
				{% if user.verified %}
				<img src="{{ url_for('static', filename='images/icons/check.png') }}" width="15" >
				{% else %}
				<img src="{{ url_for('static', filename='images/icons/cross.png') }}" width="15" >
				{% endif %}<br/>

				{% if user.permissions >= 1 %}
				<strong>Permissions:</strong>
				True<br/>
				{% endif %}

			</div>

			<div class="col-4">
				<a href="{{ url_for('views.remove_profile_picture', username=user.username) }}" class="removePicture">Remove Picture</a>
				<img 
				align="right" 
				src="{{ url_for('static', filename='images/upload_folder/users/' + user.picture) }}" 
				class="img-fluid"
				alt="Profile Picture"
				style="border-radius : 50%; width: 60%; aspect-ratio: 1 / 1; object-fit: cover;">
			</div>
			</div>
		</div>
    </p>

    <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary btn-sm">Logout</a>

	{% if user.verified == False %}
	<a href="{{ url_for('auth.verify_email') }}" class="btn btn-success btn-sm" >Verify Email</a>
	{% endif %}

	<a href="{{ url_for('auth.change_password') }}" class="btn btn-primary btn-sm">Change Password</a>

    <a href="{{ url_for('auth.delete_user', user_id=user.id) }}" class="btn btn-danger btn-sm">Delete</a>

	</div>
</div>

<br/>

<div class="card">
	<div class="card-header">
	  Update Profile
	</div>
	<div class="card-body">
	<form method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input 
			type="firstName" 
			class="form-control" 
			id="firstName" 
			name="firstName" 
			placeholder="First Name"
			value="{{ user.first_name }}"/>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input 
			type="text"  
			class="form-control" 
			id="lastName" 
			name="lastName"  
			placeholder="Last Name"
			value="{{ user.last_name }}"/>
		</div>
		<div class="form-group">
			<label for="userName">Username</label>
			<input 
			type="text"  
			class="form-control" 
			id="userName" 
			name="userName"  
			placeholder="Username"
			value="{{ user.username }}"/>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea
			type="text"  
			class="form-control" 
			id="description" 
			name="description"  
			placeholder="Description">{{ user.description }}</textarea>
		</div>
		<div class="form-group">
			<label for="email">Email Address</label>
			<input 
			type="email" 
			class="form-control" 
			id="email" 
			name="email" 
			placeholder="Email Address"
			value="{{ user.email }}"/>
		</div>
		<div class="form-group">
			<label for="file">Upload Profile Picture</label>
			<input 
			type="file" 
			class="form-control-file" 
			id="profilePicture"
			name="file"
			accept="image/*"/><br/>
			<img id="preview" src="{{ url_for('static', filename='images/upload_folder/users/' + user.picture )}}" 
			style="width: 300px; height: 300px; object-fit: cover;"
			/>
		  </div>
		<button type="submit" class="btn btn-primary btn-sm">Update Profile</button>
	</form>
	</div>
</div>
<script>
    profilePicture.onchange = evt => {
        const [file] = profilePicture.files
        if (file) {
            preview.src = URL.createObjectURL(file)
        }
      }
</script>
<br/>
{% endblock %}