{% extends "posts_div.html"%}
{% block title %} {{post.title}} {% endblock %}
{% block header %}<h2 align="center">Post</h2>{% endblock %}
{% block footer %}
{% if post.comments|length > 0 %}
<script>
  commentButton = document.getElementById(`commentButton`);
  commentButton.href = ''
</script>
  {% if post.comments|length == 1 %}
    <h2 align="center"> {{post.comments|length}} Comment</h2>
  {% else %}
    <h2 align="center"> {{post.comments|length}} Comments</h2>
  {% endif %}
<br/>
  {% for comment in post.comments %}
    <div class="card">
      <div class="card-header text-muted">
        <h6> 
          <a style="text-decoration: none; color: black;" 
          href="{{ url_for('views.user', username=post.user.username) }}">
          {{  post.user.username  }}
          </a> 
        </h6> 
        {{ comment.date_created }}
      </div>
      <div class="card-body">
        {{ comment.text }}
      </div>
    </div>
    <br/>
  {% endfor %}
{% else %}
<div align="center" class="text-muted">
  <h2>No comments</h2>
</div>
{% endif %}
{% endblock %}