{% extends "base.html"%}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="card">
    <form method="POST">
        <div class="card-header">
            <h3 align="center">Reset Password</h3>
        </div> 
        <div class="card-body">
            <div class="form-group">
                <label for="password1">New Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1" 
                placeholder="Enter new password"/>
            </div>
            <div class="form-group">
                <label for="password2">Confirm New Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="password2"  
                name="password2" 
                placeholder="Confirm new password"/>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
<br/>
<a href="{{ url_for('views.home') }}"><button class="btn btn-secondary">Back</button></a>
{% endblock %}