{% extends "base.html"%}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1 align="center">Comments</h1>
<br/>
<table class="table table-hover">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Author</th>
		<th scope="col">Date created</th>
		<th scope="col"></th>
	  </tr>
	</thead>
	{% for comment in comments %}
	<tbody>
		<tr>
		<th scope="row">{{ comment.id }}</th>
		<td>
			<a href="{{ url_for('views.user', username=user.username) }}" style=" color: black;">
				{{ comment.user.username }}
			</a>
		</td>
		<td>{{ comment.date_created }}</td>
		<td>
			<a href="{{ url_for('comments.delete_comment', comment_id=comment.id) }}">
				<img src="{{ url_for('static', filename='images/icons/trash.png') }}" width="15" >
			</a>
		</td>
	  </tr>
	</tbody>
	  {% endfor %}
</table>
<br/>
{% endblock %}