{% extends "base.html"%}
{% block title %}Model - Posts{% endblock %}

{% block content %}
<h1 align="center">Posts</h1>
<br/>
<table class="table table-hover">
	<thead>
	  <tr>
		<th scope="col">ID</th>
		<th scope="col">Author</th>
		<th scope="col">Forum</th>
		<th scope="col">Comments</th>
		<th scope="col">Likes</th>
		<th scope="col">Saves</th>
		<th scope="col">Reports</th>
		<th scope="col">URL</th>
		<th scope="col">Date created</th>
		<th scope="col">Status</th>
		<th scope="col"></th>
	  </tr>
	</thead>
	{% for post in posts %}
	<tbody>
		<tr>
		<th scope="row">{{ post.id }}</th>
		<td>
			<a href="{{ url_for('views.user', username=user.username) }}">
				{{ post.user.username }}
			</a>
		</td>
		<td>{{ post.forum }}</td>
		<td>{{ post.comments|length }}</td>
		<td>{{ post.likes|length }}</td>
		<td>{{ post.saves|length }}</td>
		<td>{{ post.reports|length }}
		<td><a href="{{ url_for('views.post', url=post.url) }}">{{ post.url }}</a></td>
		<td>{{ post.date_created }}</td>
		{% if post.private %}
		<td><img src="{{ url_for('static', filename='images/icons/lock.png') }}" width="15" ></td>
		{% else %}
		<td><img src="{{ url_for('static', filename='images/icons/globe.png') }}" width="15" ></td>
		{% endif %}
		<td>
			<a href="{{ url_for('posts.delete_post', post_id=post.id) }}">
				<img src="{{ url_for('static', filename='images/icons/trash.png') }}" width="15" >
			</a>
		</td>
	  </tr>
	</tbody>
	  {% endfor %}
</table>
<br/>
{% endblock %}